
#gameBoard{
    display:inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    padding: 0px;
    margin : 0px;
}
body,html{
    min-height: 100vh;
}
